<template>
    <div class="container-fluid mx-auto p-6">

        <div class="flex justify-between">
            <img src="/images/black_logo.png" alt="Logo New York Times" width="400"/>

            <div class="w-96 mt-4">
                <div class="relative rounded-full shadow-lg">
                    <input type="text"
                           v-model="search"
                           class="focus:ring-blue-600 focus:border-blue-600 block w-full pr-7
                           sm:text-sm border-gray-400 rounded-full"
                           placeholder="Search">
                    <div class="absolute inset-y-0 right-3 flex items-center text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-10">
            <h2 class="text-lg">{{ greeting }}
                <span class="font-bold">Costa Rica,</span>
                here are the most view articles for the last 24 hours.
            </h2>
        </div>

        <div class="grid grid-cols-3 gap-4 mt-16">
            <div v-for="article in articles">
                <div class="flex justify-between m-6">
                    <div class="flex flex-col h-full max-w-lg mx-auto bg-white rounded-lg">
                        <img v-if="article.media"
                             class="rounded-lg rounded-b-none"
                             :src="article.media"
                             :alt="article.caption"
                             :title="article.caption"/>

                        <div class="px-4 py-3 space-y-3 rounded-b-lg border-r-2 border-b-2 border-l-2 border-gray-300"
                             :class="[article.media !== null ? '' : 'border-t-2 rounded-t-lg']">
                            <h1 class="text-xl font-medium leading-6 tracking-wide
                            text-gray-800 hover:text-blue-600 cursor-pointer">
                                <a :href="article.url">
                                    {{ article.title }}
                                </a>
                            </h1>

                            <p class="text-gray-700 font-normal leading-5 tracking-wide">
                                {{ article.abstract }}
                            </p>

                            <div class="flex flex-col justify-between text-gray-700 border-t-2">
                                <p class="font-semibold tracking-wide">
                                    {{ article.section }}
                                </p>
                                <div class="flex justify-between w-full">
                                    <p class="font-light tracking-wider w-3/4">
                                        {{ article.byline }}
                                    </p>
                                    <a :href="article.url"
                                       class="font-semibold tracking-wide text-gray-800 hover:text-black">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>

export default {
    data() {
        return {
            articles: [],
            search: '',
        }
    },
    watch: {
        search() {
            this.$inertia.post('/article_search',
                {
                    search: this.search
                },
                {
                    onSuccess: (page) => {
                        this.articles = page.props.success;
                    },
                }
            );
        }
    },
    computed: {
        greeting() {
            var myDate = new Date();
            var hrs = myDate.getHours();

            if (hrs < 12)
                return 'Good Morning';
            else if (hrs >= 12 && hrs <= 17)
                return 'Good Afternoon';
            else if (hrs >= 17 && hrs <= 24)
                return 'Good Evening';
        }
    },
    mounted() {
        if (this.$page.props.articles) {
            this.articles = this.$page.props.articles;
        }
    }
}
</script>
